version = 6

language = en

show_detailed_exceptions = true

[login]
remember_me_activated = true

[database]
driver = mysql
host = HOST
user = USER
password = PASSWORD
database = DATABASE

[files]
; Path to where the files should be stores, relative to /app/lib
; Must include a trailing /
path = "../../storage/"
maxsize = 20971520
id_string_length = 5

inline_download[] = application/pdf
inline_download[] = image/jpeg
inline_download[] = image/png
inline_download[] = image/gif
inline_download[] = image/svg+xml
inline_download[] = text/plain

[presentation]
; If true then SI-prefixes will be used for file sizes (kB = 1000 bytes),
; if false, binary prefixes is used (KiB = 1024 bytes)
siprefix = true

; If false, time for last edit will be shown
upload_date_in_list = true